<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="false" targetFramework="4.0"/>
	</system.web>
	<appSettings>
		<add key="TCProject.Institutes" value="http://localhost:8353/training/Institutes.asmx"/>
	<add key="Calculator.DotNetCalculator" value="http://localhost:8353/training/DotNetCalculator.asmx"/>
	</appSettings></configuration>
