<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->


<configuration>
  <system.runtime.caching>
    <memoryCache  name="myCache"></memoryCache>
  </system.runtime.caching>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <machineKey validationKey="29F5048B364CFB9DE9053FCDA0A494CEA56DC2835020EA109688698F70D997EABF78080385C1B147B2AB4187B471CD30AADF92212A03E66FDC32C620D5B8DFC7"
decryptionKey="42C6D9DDCF5B1F4BB969C2BD47C328A506C459FE9DF6EB4A" validation="SHA1"/>

    <!--<sessionState stateConnectionString="tcpip=127.0.0.1:42424" mode="StateServer"></sessionState>-->
    <!--<sessionState mode="SQLServer" sqlConnectionString="Data Source=localhost;Initial Catalog=sesstore;User ID=sa;Password=sa" allowCustomSqlDatabase="true"></sessionState>-->
  </system.web>

</configuration>
