<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="TCdbConnectionString" connectionString="Data Source=localhost;Initial Catalog=TCdb;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.runtime.caching>
		<memoryCache></memoryCache>
	</system.runtime.caching>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<machineKey validationKey="29F5048B364CFB9DE9053FCDA0A494CEA56DC2835020EA109688698F70D997EABF78080385C1B147B2AB4187B471CD30AADF92212A03E66FDC32C620D5B8DFC7" decryptionKey="42C6D9DDCF5B1F4BB969C2BD47C328A506C459FE9DF6EB4A" validation="SHA1"/>
		<authentication mode="Forms">
			<forms defaultUrl="~/institute/InstituteWelcome.aspx" loginUrl="~/LoginPage.aspx"></forms>
		</authentication>
		<!--<sessionState stateConnectionString="tcpip=127.0.0.1:42424" mode="StateServer"></sessionState>-->
		<!--<sessionState mode="SQLServer" sqlConnectionString="Data Source=localhost;Initial Catalog=sesstore;Persist Security Info=false;" allowCustomSqlDatabase="true" ></sessionState>-->
		<!--<authentication mode="Windows">
    </authentication>-->
	</system.web>
	<location path="admin1">
		<system.web>
			<authorization>
				<allow users="satish"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>
