<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<appSettings>
		<add key="subref.sub" value="http://localhost:5275/sub.asmx"/>
		<add key="sub1.sub" value="http://localhost:5275/sub.asmx"/>
		<add key="WebS.Sqrt" value="http://localhost:5275/training/shiva/Sqrt.asmx"/>
		<add key="Calculator1.DotNetCalculator" value="http://localhost:5275/training/DotNetCalculator.asmx"/>
	<add key="Hello.Institutes" value="http://localhost:5275/training/Institutes.asmx"/>
	</appSettings></configuration>
